@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  - light: https://www.realtimecolors.com/?colors=82705e-fff7e0-c5e98b-e8d8b0-ff8a8a&fonts=Roboto%20Slab-Poppins
  - dark: https://www.realtimecolors.com/?colors=9b8c7f-1f1000-575e3f-5e5140-993d2f&fonts=Roboto%20Slab-Poppins
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gradient-start: var(--color-primary);
    --gradient-end: var(--color-secondary);
    --color-text: 130 112 94;
    --color-background: 255 247 224;
    --color-primary: 187 220 133;
    --color-primary-visited: 107 140 53;
    --color-secondary: 232 216 176;
    --color-accent: 255 138 138;
  }
  .dark {
    --color-text: 155 140 127;
    --color-background: 31 16 0;
    --color-primary: 87 94 63;
    --color-secondary: 94 81 64;
    --color-accent: 153 61 47;
  }
  body {
    color: rgb(var(--color-text));
    background: rgb(var(--color-background));
    text-align: center;
    font-size: 1.15rem;
    font-weight: 400;
  }
  h1 {
    font-family: var(--font-shrikhand);
    font-size: min(max(6vw, 4rem), 80px);
    text-shadow: 0px 4px 4px rgb(var(--color-background)/25%), 0 0 0 #000, 0px 1px 1px rgb(var(--color-background)/50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: rgb(var(--color-text)/70%);
  }
  h2, h3, h4, h5, h6 {
    font-family: var(--font-roboto-slab);
    font-weight: 700;
  }
  h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  h3 {
    color: rgb(var(--color-accent));
  }
  h5 {
    color: rgb(var(--color-text) / 50%);
  }
  p > span {
    font-weight: 500;
  }
  a {
    font-family: var(--font-roboto-slab);
    font-weight: 700;
  }
  :not(.navbar) > a {
    color: rgb(var(--color-primary));
    text-decoration: underline;
    margin-top: 2rem;
  }
}